@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #dbe7e8;
}

/* Animation css */
.move-down {
  transform: translateY(50px);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}
.move-up {
  transform: translateY(0);
  opacity: 1;
}

.final-zoom {
  transform: scale(1.2);
  transition: transform 0.8s;
}

.initial-zoom {
  transform: scale(1);
}

/* Navbar CSS Transition Starts */
.scrollUp {
  transform: translateY(-100%);
}
/* Navbar CSS Transition Ends */
